<!doctype html>
<html>
<head>
    <title>Academy | Admin</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin/courses">Courses</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/quizzes">Quizzes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class = "row">
        <div class = "col-md-12">
            <h1><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Academy Admin </h1>
        <div>
    </div>

    <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li class="active">Home</li>
            </ol>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12">
          &nbsp;
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12">
          <a href="/admin/courses" class = "btn btn-primary btn-lg"><span class="glyphicon glyphicon-blackboard" aria-hidden ="true"></span> Manage Courses</a>
          <a href="/admin/quizzes" class = "btn btn-primary btn-lg"><span class="glyphicon glyphicon-list-alt" aria-hidden=" true"></span> Manage Quizzes</a>
          <a href="/admin/users" class = "btn btn-primary btn-lg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Manage Users</a>
        </div>
    </div>

</div>

<!-- Modals -->


<!-- Scripts --> 
<script>

$(document).ready(function(){
    
    
    
})
</script>
</body>
</html>
