<%- include partials/header.ejs %>

<div class="container">
    <div class = "row">
        <div class = "col-md-12">
            <h1>Academy Admin</h1>
        <div>
    </div>
    <div class = "row">
        <div class="col-md-12">
          &nbsp;
        </div>
    </div>
    <div class = "row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Content
            </div>
            <div class="card-body">
              <p class="card-text"><a href="/admin/courses" class = "btn btn-primary btn-lg"><span class="fa fa-graduation-cap"          aria-hidden ="true"></span> Manage Courses</a></p>
              <p><a href="/admin/quizzes" class = "btn btn-primary btn-lg"><span class="fa fa-question-circle"          aria-hidden=" true"></span> Manage Quizzes</a></p>
              <p><a href="/admin/glossary" class = "btn btn-primary btn-lg"><span class="fa fa-book"          aria-hidden=" true"></span> Manage Glossary</a></p>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Settings
            </div>
            <div class="card-body">
              <p class="card-text"><a href="/admin/academy" class = "btn btn-primary btn-lg"><span class="fa fa-cogs" aria-hidden="true"></span> Academy Options</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Community
            </div>
            <div class="card-body">
              <p class="card-text"><a href="/admin/users" class = "btn btn-primary btn-lg"><span class="fa fa-users" aria-hidden="true"></span> Manage Users</a></p>
              <p class="card-text"><a href="/admin/leaderboard" class = "btn btn-primary btn-lg"><span class="fa fa-list" aria-hidden="true"></span> Academy Leaderboard</a></p>
              <p><a href="/admin/feedback" class = "btn btn-primary btn-lg"><span class="fa fa-comment" aria-hidden="true"></span> Manage Feedback</a></p>
            </div>
          </div>
        </div>



        </div>
    </div>

</div>

<!-- Modals -->


<!-- Scripts --> 
<%- include partials/footer.ejs%>
<script>

$(document).ready(function(){
    
    
    
})
</script>
</body>
</html>
