<footer >
<div class="row bg-dark mt-5 pt-4 footer">
<div class="col-md-12">
<div class = "container text-light">
    <div class = "row ">
        <div class="col-md-3">
    
            <h5 ><a href="/" class = "text-light">Academy</a></h5>
            <ul>
                <li><a href="/courses" class = "text-light">Courses</a></li>
                <li><a href="/glossary" class = "text-light">IP Glossary</a></li>
                <li><a href="/profile" class = "text-light">Profile</a></li>
                <li><a href="//academybypatsnap.ideas.aha.io" class = "text-light" target="_blank">Feedback</a></li>
            </ul>

        </div>

        <div class="col-md-3">
            <h5><a href="//www.patsnap.com/resources" class = "text-light" target="_blank">Resources</a></h5>
            <ul>
            <li><a href="//www.patsnap.com/resources/industry-innovation-reports" class = "text-light" target="_blank">Innovation Reports</a></li>
            <li><a href="//www.patsnap.com/resources/whitepapers" class = "text-light" target="_blank">Whitepapers</a></li>
            <li><a href="//www.patsnap.com/resources/webinars" class = "text-light" target="_blank">Webinars</a></li>
            <li><a href="//blog.patsnap.com/" class = "text-light" target="_blank">Blog</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5><a href="//www.patsnap.com" class = "text-light" target="_blank">PatSnap</a></h5>
            <ul>
            <li><a href="//www.patsnap.com" class = "text-light" target="_blank">Homepage</a></li>
            <li><a href="//www.patsnap.com/company/product" class = "text-light" target="_blank">Products</a></li>
            <li><a href="//www.patsnap.com/solutions" class = "text-light" target="_blank">Solutions</a></li>
            <li><a href="//www.patsnap.com/company" class = "text-light" target="_blank">About Us</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3><a href="/" class = "text-light"><img src="https://www.patsnap.com/hubfs/Academy/Logo/academy_rocket_logo_white.svg" alt="Academy by Patsnap"></a></h3>
            
            <ul>
                <li><a href="tel:+44(0)%20203%20137%205084" class = "text-light">+44(0) 203 137 5084</a></li>
                <li><a href="mailto:academy@patsnap.com" target="_blank" class = "text-light">academy@patsnap.com</a></li>
                <li><a href="https://www.patsnap.com/privacy/" class = "text-light" target="_blank">Privacy Policy</a></li>
            </ul>
            
            <ul class="social">
                <li ><a href="https://www.facebook.com/PatSnap" target="_blank" class = "text-light" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li ><a href="https://twitter.com/PatSnap" target="_blank" class = "text-light" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li ><a href="https://www.linkedin.com/company/patsnap" target="_blank" class = "text-light" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    

    </div>
    <div class="row">
        <div class = "col-md-12 text-center ">
            <p class = "text-light">© 2017 PatSnap. All rights reserved.</p>
        </div>
    </div>
</div>
</div>
</div>
</footer>