<div class="row bg-dark mt-5 pt-4 footer">
<div class="col-md-12">
<div class = "container text-light">
    <div class = "row ">
        <div class="col-md-2">
    
            <h5 ><a href="https://www.patsnap.com/product" class = "text-light">Product</a></h5>
            <ul>
            <li><a href="https://www.patsnap.com/product/#search" class = "text-light">Search</a></li>
            <li><a href="https://www.patsnap.com/product/#analysis" class = "text-light">Analysis</a></li>
            <li><a href="https://www.patsnap.com/product/#business-intelligence" class = "text-light">Business Intelligence</a></li>
            <li><a href="https://www.patsnap.com/product/#workflow" class = "text-light">Workflow</a></li>
            <li><a href="https://www.patsnap.com/product/#customer-success" class = "text-light">Customer Success</a></li>
            </ul>

        </div>
        <div class="col-md-2">
            <h5><a href="https://www.patsnap.com/solutions" class = "text-light">Solutions</a></h5>
            <ul>
            <li><a href="https://www.patsnap.com/solutions/rd" class = "text-light">Research &amp; Development</a></li>
            <li><a href="https://www.patsnap.com/solutions/ip" class = "text-light">Intellectual Property Assessment</a></li>
            <li><a href="https://www.patsnap.com/solutions/legal" class = "text-light">Legal</a></li>
            <li><a href="https://www.patsnap.com/solutions/strategy-and-business" class = "text-light">Strategy and BI</a></li>
            <li><a href="https://www.patsnap.com/solutions/academia" class = "text-light">Academic and Government</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5><a href="https://www.patsnap.com/resources" class = "text-light">Resources</a></h5>
            <ul>
            <li><a href="https://www.patsnap.com/resources/industry-innovation-reports" class = "text-light">Innovation Reports</a></li>
            <li><a href="https://www.patsnap.com/resources/whitepapers" class = "text-light">Whitepapers</a></li>
            <li><a href="//www.patsnap.com/resources/webinars" class = "text-light">Webinars</a></li>
            <li><a href="https://blog.patsnap.com/" class = "text-light">Blog</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5><a href="https://www.patsnap.com/company" class = "text-light">Company</a></h5>
            <ul>
            <li><a href="https://www.patsnap.com/company" class = "text-light">About Us</a></li>
            <li><a href="https://www.patsnap.com/company/team" class = "text-light" >Team</a></li>
            <li><a href="https://www.patsnap.com/careers" class = "text-light">Careers</a></li>
            <li><a href="https://www.patsnap.com/contact" class = "text-light">Contact</a></li>
            </ul>
            <h5><a href="https://www.patsnap.com/customers" class = "text-light">Customers</a></h5>
        </div>
        <div class="col-md-3">
            <h3><a href="//www.patsnap.com" class = "text-light"><img src="https://www.patsnap.com/hubfs/PatSnap-Nov-2016-Theme/Images/PatSnap_white-logo.png" alt="Patsnap"></a></h3>
            
            <ul>
                <li><a href="tel:+44(0)%20203%20137%205084" class = "text-light">+44(0) 203 137 5084</a></li>
                <li><a href="mailto:hello@patsnap.com" target="_blank" class = "text-light">hello@patsnap.com</a></li>
                <li><a href="https://www.patsnap.com/privacy/" class = "text-light">Privacy Policy</a></li>
            </ul>
            
            <ul class="social">
                <li ><a href="https://www.facebook.com/PatSnap" target="_blank" class = "text-light"><i class="fa fa-facebook"></i></a></li>
                <li ><a href="https://twitter.com/PatSnap" target="_blank" class = "text-light"><i class="fa fa-twitter"></i></a></li>
                <li ><a href="https://www.linkedin.com/company/patsnap" target="_blank" class = "text-light"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    

    </div>
    <div class="row">
        <div class = "col-md-12 text-center ">
            <p class = "text-light">© 2017 PatSnap. All rights reserved.</p>
        </div>
    </div>
</div>
</div>
</div>