<!doctype html>
<html>
<head>
    <title>Courses | Academy by PatSnap</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/courses">Courses</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class = row>
        <div class = "col-md-12">
            <ol class="breadcrumb">
                <li class = "active">Courses</li>
            </ol>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-12">
          <div class="page-header">
            <h1><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Courses </h1>
          </div>
        <div>
    </div>
    <div class = "row">
            <% courses.forEach(function(course){ %>
              <div class="col-md-12">
                <div class="thumbnail">
                  <img src="..." alt="...">
                  <div class="caption">
                    <h3><%=course.name%></h3>
                    <p><%=course.description%></p>
                    <p><a href="#" class="btn btn-primary" role="button">Take the Course</a></p>
                  </div>
                </div>
              </div>
            <% }); %>
        </div>
    </div>
   
</div>

<!-- Modals -->
<div class="modal fade" id="courseAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "addCourse">
            <div class="form-group">
              <label for="courseName">Course Name*</label>
              <input required type="text" class="form-control" id="courseName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="courseDescription">Course Description</label>
              <input type="textarea" class="form-control" id="courseDescription" placeholder="Course Description">
            </div>
            <div class="form-group">
              <label for="courseOrder">Order</label>
              <input type="number" class="form-control" id="courseOrder">
            </div>
            <button type="submit" class="btn btn-success">Add Course</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="courseDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="courseToDeleteName"></p>
        <strong>You are about to Delete this course. This cannot be undone.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="courseDeleteConfirm">Delete Course</button>
      </div>
    </div>
  </div>
</div>

<!-- Scripts --> 
<script>

$(document).ready(function(){
    
    $("#addCourse").submit(function(e){
        e.preventDefault();
        var data = {}
        data.name = $("#courseName").val();
        data.description = $("#courseDescription").val();
        data.order = $("#courseOrder").val()||99;
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/api/courses",
            dataType: 'json',
            async: true,
            data: data,
            success: function (){
                    location.reload(true);                    
                }
            });
    })

    $('#courseDeleteModal').on('show.bs.modal', function(e){
        var button = $(e.relatedTarget); 
        var modal = $(this);
        modal.find('#courseToDeleteName').text(button.data('courseName'));
        modal.find('#courseDeleteConfirm').on('click', function(e){
            var url = "http://localhost:3000/api/courses/" + button.data('courseId');
            $.ajax({
                  type: "DELETE",
                  url: url,
                  dataType: 'json',
                  async: true,
                  success: function (){
                        location.reload(true);
                    }
            })
        })
    });

    $('#courseDeleteModal').on('hide.bs.modal', function(e){
        var modal = $(this);
        modal.find('#courseDeleteConfirm').off('click');
    });
    
})
</script>
</body>
</html>
