<%- include partials/header.ejs %>

<div class="container">
  
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>IP Glossary</h1>
          <h2 class="text-light">Key terms and concepts for intellectual property</h2>
        </div>
      </div>
      
    </div>
        
    
        <div class="row">
              <div class = "col-md-3" >
                <div class = "row">
                  <div class="col-12">
                  <h4>Term List</h4>
                <ul class="nav nav-pills flex-column" >
                  <li class="nav-item">
                    <a class="nav-link" href="#gabstract">Abstract</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gapplication_date">Application Date</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gclaims">Claims</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gcopyright">Copyright</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gcpc">CPC</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gdescription">Description</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gepo">EPO</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#geuipo">EUIPO</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gfto">FTO</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gindustrial_design">Industrial Design</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#ginpadoc">INPADOC</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gipc">IPC</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gipr">IPR</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gisa">ISA</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gjpo">JPO</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gjv">JV</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gkipo">Kipo</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gpatent">Patent</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gpatent_family">Patent Family</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gpatentability">Patentability</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gpct">PCT</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gpriority_date">Priority Date</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gro">GRO</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gsep">SEP</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gsipo">SIPO</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gspecification">Specification</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gtitle">Title</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gtrade_secret">Trade Secret</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gtrademark">Trademark</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#guspto">USPTO</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#gwipo">WIPO</a>
                  </li>
                  
                </ul>

            </div>
          </div>
        </div>
      
            <div class="col-md-7 ml-auto ">
              <div class="row">
                <div class="col-12 gterms">
                <h2>Definitions</h2>

              <a id="gabstract"></a>
              <h3>Abstract</h3>
              <p>An introductory paragraph in a patent that provides a concise summary of the invention
              </p>
              <hr>

              <a id="gapplication_date"></a>
              <h3>Application Date</h3>
              <p>The patent application date is the date upon which the patent office receives a patent application
              </p>
              <hr>

              <a id="gclaims"></a>
              <h3>Claims</h3>
              <p>The claims explain the extent, or the scope, of the protection conferred by a patent, or the protection sought in a patent application.
              </p>
              <hr>

              <a id="gcopyright"></a>
              <h3>Copyright</h3>
              <p>Rights granted to the creator of a concept or idea within literary, musical or other artistic works.
              </p>
              <hr>


              <a id="gcpc"></a>
              <h3>CPC</h3>
              <p>Co-operative classification - a classification system for patents, jointly developed by the European Patent Office (<a href="#gepo">EPO<a>) and the United States Patent and Trademark Office (<a href="#guspto">USPTO</a>).  The CPC is a more specific and detailed version of the International Patent Classification (<a href="#gipc">IPC</a>) system.
              </p>
              <hr>
              
              <a id="gdescription"></a>
              <h3>Description</h3>
              <p>A full explanation of the invention. It will often include background information on the invention, how it is made, and its intended uses.
              </p>
              <hr>


              <a id="gepo"></a>
              <h3>EPO</h3>
              <p>European Patent Office</p>
              <hr>


              <a id="geuipo"></a>
              <h3>EUIPO</h3>
              <p>The European Intellectual Property Office, formerly known as OHIM (the Office for the Harmonization of the Internal Market)
              </p>
              <hr>


              <a id="gfto"></a>
              <h3>FTO</h3>
              <p>Freedom-to-operate - a company has freedom-to-operate for products that lie in a technology area where no-one currently holds any patents for a technology incorporated within those products.
              </p>
              <hr>


              <a id="gindustrial_design"></a>
              <h3>Description</h3>
              <p>A design process used for products that will be manufactured via mass production methods.
              </p>
              <hr>


              <a id="ginpadoc"></a>
              <h3>INPADOC</h3>
              <p>International Patent Documentation - this refers to a publicly accessible database that is maintained by the EPO and is one system used for identifying <a href="#gpatent_families">patent families</a>.
              </p>
              <hr>


              <a id="gipc"></a>
              <h3>IPC</h3>
              <p>International Patent Classification - established by the Strasbourg Agreement 1971, this represents a series of identification codes that allow patent offices to classify patents and utility models into specifically defined technology areas.
              </p>
              <hr>


              <a id="gipr"></a>
              <h3>IPR</h3>
              <p>Intellectual Property Rights - this can include trade secrets, utility models, patents, trademarks, geographical indications, industrial designs, layout designs of integrated circuits, copyright and related rights, and new varieties of plants.
              </p>
              <hr>


              <a id="gisa"></a>
              <h3>ISA</h3>
              <p>International Searching Authority - a body that will search patents and prior art to determine whether an invention is patentable 
              </p>
              <hr>

              <a id="gisa"></a>
              <h3>ISA</h3>
              <p>AInternational Searching Authority - a body that will search patents and prior art to determine whether an invention is patentable 
              </p>
              <hr>

              <a id="gisr"></a>
              <h3>ISR</h3>
              <p>International Search Report - the report produced by the ISA (International Searching Authority) on whether an invention is patentable.
              </p>
              <hr>

              <a id="gjpo"></a>
              <h3>JPO</h3>
              <p>Japan Patent Office
              </p>
              <hr>

              <a id="gjv"></a>
              <h3>ISA</h3>
              <p>Joint Venture - where businesses agree to share resources or expertise in order to achieve a specific objective.
              </p>
              <hr>

              <a id="gkipo"></a>
              <h3>Kipo</h3>
              <p>Korean Intellectual Property Office
              </p>
              <hr>

              <a id="gpatent"></a>
              <h3>Patent</h3>
              <p>A legal right conferred by a government to a patent owner that prohibits all others from using a specified invention for commercial purposes without the prior consent of the owner.
              </p>
              <hr>

              <a id="gpatent_family"></a>
              <h3>Patent Family</h3>
              <p>A patent family refers to a patent that has filed in several jurisdictions, in order to protect a single invention in multiple countries. The original document will be filed, which is known as the priority document, and it is then extended to other patent offices. This then becomes the patent family.
              </p>
              <hr>

              <a id="gpatentability"></a>
              <h3>Patentability</h3>
              <p>For an invention to be patentable, it must be novel, involve an inventive step and be capable of industrial application. It should not involve any subject matter that is specifically excluded, such as a mathematical model or biological process.
              </p>
              <hr>

              <a id="gct"></a>
              <h3>PCT</h3>
              <p>Patent Co-operation Treaty - The PCT provides a unified international procedure for filing patents in all of the participating jurisdictions around the world.
              </p>
              <hr>


              <a id="gpriority_date"></a>
              <h3>Priority Date</h3>
              <p>A priority date is achieved when you are the first to file a specific innovation within a country. The filing date is considered the “priority date”. Once filed you are entitled to claim priority for a period of twelve months. Therefore, when you apply for protection in other member countries during those twelve months, the filing date of your first application is considered to have “priority” over other applications filed after that date.
              </p>
              <hr>

              <a id="gro"></a>
              <h3>RO</h3>
              <p>Receiving Office - a national patent office or intergovernmental organization which receives and processes international patent applications 
              </p>
              <hr>


              <a id="gro"></a>
              <h3>RO</h3>
              <p>Receiving Office - a national patent office or intergovernmental organization which receives and processes international patent applications 
              </p>
              <hr>


              <a id="gsep"></a>
              <h3>SEP</h3>
              <p>Standard-essential patent - a patent that is considered as essential for the implementation of a specific technology that needs to conform to a uniform standard. Owners of SEPs are obliged to offer the technology to others at a fair and non-discriminatory price.
              </p>
              <hr>


              <a id="gsipo"></a>
              <h3>SIPO</h3>
              <p>State Intellectual Property Office, which is also known as the Chinese Patent Office 
              </p>
              <hr>


              <a id="gspecification"></a>
              <h3>Specification</h3>
              <p>The claims and description (see above) of a patent together make up its specification.
              </p>
              <hr>


              <a id="gtitle"></a>
              <h3>Title</h3>
              <p>A patent title should convey to the user of patent documents a first impression of the main content of the invention. 
              </p>
              <hr>


              <a id="gtrade_secret"></a>
              <h3>Trade Secret</h3>
              <p>The <a href="#gwipo">WIPO</a> describes a trade secret as 'any confidential business information which provides an enterprise a competitive edge. Trade secrets encompass manufacturing or industrial secrets and commercial secrets.'
              </p>
              <hr>


              <a id="gtrademark"></a>
              <h3>Trademark</h3>
              <p>A design, symbol, word, or phrase that is either legally registered or established by use as the representation of a company or product.
              </p>
              <hr>


              <a id="guspto"></a>
              <h3>USPTO</h3>
              <p>United States Patent and Trademark Office
              </p>
              <hr>


              <a id="gwipo"></a>
              <h3>WIPO</h3>
              <p>World Intellectual Property Organization - a self-funded UN agency with 189 member states which provides a global forum for intellectual property services, policy, information and cooperation. 
              </p>
              <hr>

            </div>
            
        </div>
      </div>
    </div>
        
       
    
</div>

<%- include partials/footer.ejs %>

<script src = "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
